html, body {
    display: block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body {
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#container {
    display: flex;
}

#left-panel {
    position: relative;
    width: 40%;
    height: 100vh;
    background: no-repeat center url(./images/bgStairsImage.jpeg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#left-panel img {
    width: 5rem;
    padding: 10px;
}

#left-panel div {
    width: 100%;
    background-color: rgb(0, 0, 0, 0.3);
    line-height: 2rem;
    padding: 0 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

#left-panel p {
    font-size: .8rem;
    color: rgb(255, 255, 255, 0.5);
    position: absolute;
    bottom: 0;
    right: 5px;
}

#right-panel {
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 240, 240);
}

#right-header, #right-footer {
    padding: 0px 5vw    ;
}

#right-nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 1.2rem 2vw 3rem 2vw;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.12);
}

#right-footer {
    margin-top: 2rem;
}

#right-footer > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    column-gap: 10vw;
    flex-wrap: wrap;
}

label {
    position: relative;
    width: 15rem;
    margin-bottom: 15px;
}

input {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #E5E7EB;
    font-size: .9rem;
    margin-top: 3px;
    display: flex;
}

input:focus {
    border: none;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
    outline: none;
}
  
input:invalid:focus {
    border: 2px solid rgb(255, 0, 0);
}
  
input:focus:valid {
    border: 2px solid rgb(0, 212, 0);
}

a {
    text-decoration: none;
}

button[type='submit'] {
    padding: .8rem 1.3rem;
    font-size: 1.3rem;
    background-color: #596D48;
    border: none;
    border-radius: 10px;
    color: white;
    letter-spacing: -1px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}
  
button[type='submit']:hover {
    background-color: rgb(0, 139, 12);
    cursor: pointer;
}

@media screen and (max-width: 850px) {
    
    #container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(240, 240, 240);
    }
    #left-panel{
        width: 95vw;
        height: 40vh;
    }

    #right-panel {
        width: auto;
    }
  
    #right-header, #right-nav, #right-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
  
    #right-nav, form, #right-footer {
        width: 80vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
  
@media screen and (max-width: 505px) {
    
    label {
        margin-bottom: 25px;
    }
} 